.button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
    padding: 5px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.button:hover {
    color: #787878;
}

.button.selected {
    color: #636363;
}